[submodule "langchain-gemini-api"]
	path = langchain-gemini-api
	url = git@github.com:shamspias/langchain-gemini-api.git
[submodule "MELD"]
	path = MELD
	url = git@github.com:declare-lab/MELD.git
[submodule "SN-Net"]
	path = SN-Net
	url = git@github.com:ziplab/SN-Net.git
[submodule "OpenVoice"]
	path = OpenVoice
	url = git@github.com:myshell-ai/OpenVoice.git
[submodule "vits"]
	path = vits
	url = git@github.com:jaywalnut310/vits.git
